Node-red/Node-Red.txt
[{"id":"70c37ee7.499bd","type":"tab","label":"SmartCities","disabled":false,"info":""},{"id":"af7d8ea9.591a9","type":"mqtt in","z":"70c37ee7.499bd","name":"","topic":"bgmbnewgen8462/smartcities/luminosidade","qos":"0","datatype":"auto","broker":"89e21ac7.089218","x":350,"y":160,"wires":[["df485be1.623b48"]]},{"id":"8095034d.03aea","type":"debug","z":"70c37ee7.499bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":180,"wires":[]},{"id":"df485be1.623b48","type":"function","z":"70c37ee7.499bd","name":"","func":"msg.payload= {\n   \"luminosidade\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":180,"wires":[["cd774125.86f56"]]},{"id":"2c9d767e.182daa","type":"inject","z":"70c37ee7.499bd","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"str","x":550,"y":500,"wires":[["4f976a26.285f54","fde53046.40dd5"]]},{"id":"cd774125.86f56","type":"http request","z":"70c37ee7.499bd","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"localhost:8080/luminosidades","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":180,"wires":[["8095034d.03aea"]]},{"id":"ab3f7694.2741d8","type":"mqtt in","z":"70c37ee7.499bd","name":"","topic":"bgmbnewgen8462/smartcities/temperatura","qos":"0","datatype":"auto","broker":"89e21ac7.089218","x":340,"y":380,"wires":[["4fef003b.62de9"]]},{"id":"f9893907.fd70f8","type":"debug","z":"70c37ee7.499bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":380,"wires":[]},{"id":"4fef003b.62de9","type":"function","z":"70c37ee7.499bd","name":"","func":"msg.payload= {\n   \"temperatura\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":380,"wires":[["e5a23097.94d03"]]},{"id":"e5a23097.94d03","type":"http request","z":"70c37ee7.499bd","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"localhost:8080/temperaturas","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":380,"wires":[["f9893907.fd70f8"]]},{"id":"1f6ba043.2ae95","type":"mqtt in","z":"70c37ee7.499bd","name":"","topic":"bgmbnewgen8462/smartcities/velocidadevento","qos":"0","datatype":"auto","broker":"89e21ac7.089218","x":360,"y":580,"wires":[["fde53046.40dd5","4f976a26.285f54"]]},{"id":"c1919e0a.6c61c","type":"debug","z":"70c37ee7.499bd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":580,"wires":[]},{"id":"fde53046.40dd5","type":"function","z":"70c37ee7.499bd","name":"","func":"msg.payload= {\n   \"velocidade\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":580,"wires":[["5dbc35c6.00d18c"]]},{"id":"5dbc35c6.00d18c","type":"http request","z":"70c37ee7.499bd","name":"","method":"POST","ret":"obj","paytoqs":"body","url":"localhost:8080/velocidades","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":580,"wires":[["c1919e0a.6c61c"]]},{"id":"b0098c5d.2ca2c","type":"switch","z":"70c37ee7.499bd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":700,"wires":[["7044cbe3.7a0714"]]},{"id":"4f976a26.285f54","type":"function","z":"70c37ee7.499bd","name":"","func":"msg.payload= parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":660,"wires":[["b0098c5d.2ca2c"]]},{"id":"85592972.f82d28","type":"twitter out","z":"70c37ee7.499bd","twitter":"","name":"Tweet","x":1130,"y":760,"wires":[]},{"id":"7044cbe3.7a0714","type":"function","z":"70c37ee7.499bd","name":"","func":"msg.payload= \"Cuidado!! Velocidade do vento se encontra em nivel critico. \" + msg.payload + \" km/h\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":760,"wires":[["85592972.f82d28"]]},{"id":"89e21ac7.089218","type":"mqtt-broker","name":"","broker":"tcp://broker.hivemq.com","port":"1883","clientid":"clientId-node","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]